---
import SectionCol from "./sectionCol.astro";
interface Props {
    id: string;
}
const { id } = Astro.props;
const BASE_URL = import.meta.env.BASE_URL;
---

<SectionCol
    id={id}
    sub_title="Why Choose Us"
    main_title="Your Goal is Our Achievement"
    imageSrc={`${BASE_URL}images/about.svg`}
    imageAlt="About"
>
    <p>
        Nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat
        sed diam voluptua. At vero eos et accusam et justo duo dolores et rebum.
        Stet clita kasd gubergren, no sea takimata sanctus.
    </p>
    <ul class="pt-3">
        <li class="flex mt-5">
            <div class="about_check">
                <i class="lni lni-checkmark-circle"></i>
            </div>
            <div class="pl-5 pr-2">
                <p>
                    Vero eos et accusam et justo duo dolores et rebum. Stet
                    clita kasd gubergrenv
                </p>
            </div>
        </li>
        <li class="flex mt-5">
            <div class="about_check">
                <i class="lni lni-checkmark-circle"></i>
            </div>
            <div class="pl-5 pr-2">
                <p>
                    At vero eos et accusam et justo duo dolores et rebum. Stet
                    clita kasd gubergrenv
                </p>
            </div>
        </li>
        <li class="flex mt-5">
            <div class="about_check">
                <i class="lni lni-checkmark-circle"></i>
            </div>
            <div class="pl-5 pr-2">
                <p>
                    Dvero eos et accusam et justo duo dolores et rebum. Stet
                    clita kasd gubergrenv
                </p>
            </div>
        </li>
    </ul>
</SectionCol>

<style>
    .about_check i {
        @apply w-7 h-7 flex items-center justify-center text-white bg-theme-color rounded-full text-base mt-1;
    }
</style>
