---
import PricingItem from "./pricingItem.astro";
import SectionRow from "./sectionRow.astro";
interface Props {
    id: string;
}
const { id } = Astro.props;
---

<script>
    const tabs = document.querySelectorAll("[data-tab-target]");
    const tabContents = document.querySelectorAll("[data-tab-content]");

    tabs.forEach((tab) => {
        tab.addEventListener("click", () => {
            const target = document.querySelector(tab.dataset.tabTarget);
            tabContents.forEach((tabContent) => {
                tabContent.classList.remove("active");
            });
            tabs.forEach((tab) => {
                tab.classList.remove("active");
            });
            tab.classList.add("active");
            target.classList.add("active");
        });
    });
</script>

<SectionRow
    id={id}
    sectionClass="pricing_area pt-120 pb-120"
    sub_title="Pricing Plans"
    main_title="Choose Your Plan"
>
    <div class="w-full">
        <div class="pricing_menu mt-8 pb-8">
            <ul class="flex justify-center">
                <li class="nav-item">
                    <button
                        class="active bg-gray text-body-color py-3 px-8 rounded-tl-full rounded-bl-full"
                        data-tab-target="#monthlyPlan">Monthly</button
                    >
                </li>
                <li class="nav-item">
                    <button
                        class="bg-gray text-body-color py-3 px-8 rounded-tr-full rounded-br-full"
                        data-tab-target="#yearlyPlan">Yearly</button
                    >
                </li>
            </ul>
        </div>
        <!-- pricing menu -->

        <div class="pricing_content mt-6_area">
            <div class="tab-content">
                <div class="active tab-pane" id="monthlyPlan" data-tab-content>
                    <div class="row justify-center">
                        <PricingItem price="$19.00" title="Basic" />
                        <PricingItem price="$39.00" title="Standard" active />
                        <PricingItem price="$99.00" title="Premium" />
                    </div>
                    <!-- row -->
                </div>
                <div class="tab-pane" id="yearlyPlan" data-tab-content>
                    <div class="row justify-center">
                        <PricingItem price="$99.00" title="Basic" />
                        <PricingItem price="$199.00" title="Standard" active />
                        <PricingItem price="$499.00" title="Premium" />
                    </div>
                    <!-- row -->
                </div>
            </div>
        </div>
        <!-- pricing menu -->
    </div>
</SectionRow>

<style>
    .row {
        @apply flex flex-wrap;
    }

    .pricing_menu .active {
        @apply bg-theme-color text-white;
    }
    .pricing_content .tab-pane {
        display: none;
    }
    .pricing_content .tab-pane.active {
        display: block;
    }
</style>
